*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.u-opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-font-white {
  color: #fff6f3 !important;
}

.u-margin-right-small {
  margin-right: 1.5rem;
}

.u-margin-top-large {
  margin-top: 8rem;
}

.move-up {
  top: 1rem !important;
  transition: top 0.5s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(0.75, 0.75);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.announcement {
  width: 100vw;
  min-height: 3rem;
  background: rgba(48, 48, 48, 0.4);
  position: absolute;
  top: 0;
  left: -2.5vw;
  z-index: 150;
  font-family: "Source Sans Pro", sans-serif;
}
.announcement__message {
  color: #fff6f3;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 0.2rem;
}

.btn__main {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 3px;
  color: #fff6f3;
  background: #006ef7;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 2px solid transparent;
}
.btn__main:hover {
  background: #bfd4f4;
  color: #006ef7;
  border: 2px solid #006ef7;
}
.btn__main:hover svg {
  fill: #006ef7;
  transition: fill 1s ease-out;
}
.btn__main > p {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn__main:not(:last-of-type) {
  margin-right: 2rem;
}
.btn__main--phone {
  margin: 2rem 0;
}
.btn__main--phone > p {
  padding-top: 0.5rem;
}
.btn__arrow--down {
  margin-top: 15rem;
  background: rgba(255, 246, 243, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

header.header, .header {
  z-index: 100;
}
@media (max-width: 65em) {
  header.header, .header {
    display: block;
  }
}
@media (max-width: 28em) {
  header.header, .header {
    display: flex;
  }
}

.billboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #C80928;
  padding-bottom: 15rem;
}
@media (max-width: 40em) {
  .billboard {
    padding-bottom: 6rem;
  }
}
.billboard img {
  width: 100%;
  height: 100%;
}
.billboard__cta {
  background: white;
  text-align: center;
  width: 50%;
  min-width: 34rem;
  margin: 20rem auto 0 auto;
  border: 2px solid #303030;
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 65em) {
  .billboard__cta {
    margin: 10rem auto 0 auto;
  }
}
.billboard__cta h2 {
  font-family: "Poppins", sans-serif;
}
.billboard__cta h1 {
  padding: 1rem 5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
}
.billboard__cta--heading {
  padding: 2rem 2rem;
  background: #303030;
  color: #fff6f3;
}
.billboard__cta--btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 1.3rem;
  margin-top: 2rem;
}
.billboard__highlight {
  background: rgba(255, 246, 243, 0.4);
  max-width: 90ch;
  margin-top: 3.5rem;
  padding-left: 15%;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.billboard__highlight h3 {
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: #303030;
}
.billboard__image {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 95vh;
  display: flex;
  justify-content: center;
}
.billboard__image > div {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 65em) {
  .billboard__image > div {
    width: 90%;
  }
}
@media (max-width: 40em) {
  .billboard__image > div {
    width: 100%;
  }
}
.billboard__image > div::after {
  content: "";
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}
@supports not (backdrop-filter: blur()) {
  .billboard__image > div::after {
    background: linear-gradient(170deg, rgba(48, 48, 48, 0.8) 0%, rgba(242, 242, 242, 0.6) 81%, rgba(255, 246, 243, 0.4) 100%);
  }
}
.billboard__content {
  position: relative;
  margin-top: 4rem;
}
.billboard__content--heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
}
.billboard__content--heading h1 {
  font-weight: 300;
  color: #fff6f3;
  padding-left: 15%;
}
.billboard__content--heading h2 {
  color: #C80928;
  padding-left: 18%;
}

div.company, .company {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.5rem;
  color: #C80928;
  padding: 0 2rem;
  font-weight: 500;
  background: #f2f2f2;
  border-bottom: 3px solid #C80928;
  letter-spacing: 0.5px;
}
@media (max-width: 65em) {
  div.company, .company {
    border-bottom: none;
  }
}
@media (max-width: 28em) {
  div.company, .company {
    font-size: 3.5rem;
    flex: 1 0 100%;
  }
}

.drop-down {
  position: relative;
  cursor: default;
  font-family: "Poppins", sans-serif;
}
.drop-down__sub-menu {
  position: absolute;
  left: -10%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
@media (max-width: 28em) {
  .drop-down__sub-menu {
    visibility: visible;
    opacity: 1;
    width: 120%;
    text-align: center;
    padding-bottom: 5rem;
  }
}
.drop-down__sub-menu--item {
  font-size: 1.4rem;
  color: #303030;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 28em) {
  .drop-down__sub-menu--item {
    color: #fff6f3;
  }
}
.drop-down__sub-menu > a:first-of-type {
  margin-top: 0.85rem;
}

.drop-down:hover > ul {
  visibility: visible;
  opacity: 1;
}

.icon__social {
  fill: #1773EA;
}
.icon__arrow-down {
  fill: #fff6f3;
  animation: pulse 1.8s ease-out;
  animation-iteration-count: infinite;
}
.icon__small {
  height: 2rem;
  width: 2rem;
}
.icon__medium {
  height: 3em;
  width: 3em;
}
.icon__white {
  fill: #fff6f3;
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.flex {
  flex-wrap: wrap;
  display: flex;
}
.flex--no-wrap {
  flex-wrap: nowrap;
}
.flex__column {
  flex-direction: column;
}
.flex__justify--center {
  justify-content: center;
}
.flex__justify--space-around {
  justify-content: space-around;
}
.flex__justify--space-between {
  justify-content: space-between;
}

nav {
  position: relative;
}
@media (max-width: 28em) {
  nav {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 4.5rem;
    right: 0.5rem;
  }
}

.nav-list {
  background: #f2f2f2;
  border-bottom: 3px solid #C80928;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 65em) {
  .nav-list {
    justify-content: space-around;
  }
}
@media (max-width: 28em) {
  .nav-list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    margin-top: -6rem;
    height: 3rem;
    width: 3rem;
    border-bottom: none;
    transition: all 0.8s;
  }
}
.nav-list__item {
  font-family: "Source Sans Pro", sans-serif;
  color: #56423e;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-right: 3rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  position: relative;
}
.nav-list__item::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 3px;
  background: #006ef7;
  z-index: 100;
  left: -10%;
  bottom: -3px;
}
@media (max-width: 28em) {
  .nav-list__item {
    margin-right: 0;
    color: #C80928;
    font-size: 2rem;
  }
}
.nav-list a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn__toggle--nav {
  visibility: hidden;
}
@media (max-width: 28em) {
  .btn__toggle--nav {
    visibility: visible;
    width: 3rem;
    height: 3rem;
    border: 2px solid #303030;
    border-radius: 3px;
    position: fixed;
    top: 4.5rem;
    right: 0.5rem;
    z-index: 2000;
    background: #fff6f3;
    transition: top 0.5s ease-out;
  }
}

@media (max-width: 28em) {
  .hamburger {
    width: 90%;
    height: 3px;
    background: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transition: all 0.2s ease-in;
  }
  .hamburger::before {
    content: "";
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #303030;
    bottom: 6px;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .hamburger::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #303030;
    bottom: -6px;
    transform: rotate(0);
    transition: all 1s;
    opacity: 1;
  }
}

.rotate {
  background: transparent;
  color: #fff6f3;
}
.rotate::before {
  content: "";
  bottom: 0;
  transform: rotate(-135deg);
  background: #C80928;
}
.rotate::after {
  content: "";
  bottom: 0;
  transform: rotate(135deg);
  opacity: 1;
  background: #C80928;
}

.show {
  visibility: visible;
  position: fixed;
  top: 0;
  z-index: 1500;
}
.show > ul {
  border-radius: 50%;
  width: 200vw;
  height: 133vh;
  visibility: visible;
  background: transparent;
  justify-content: center;
  gap: 10rem 0;
  position: fixed;
  right: -50%;
  top: -15vh;
  transition: height 1.2s ease, width 1.2s ease;
}
@media (max-width: 28em) {
  .show > ul {
    background: #303030;
  }
}

.footer {
  width: 100%;
  background: #303030;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .footer {
    justify-content: center !important;
  }
}
.footer__location {
  position: relative;
  transform: scale(0.8);
}
@media (max-width: 1200px) {
  .footer__location {
    order: 3;
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .footer__location {
    flex: 1 0 100%;
    justify-content: center;
  }
}
.footer__location--msg {
  position: absolute;
  width: 100%;
  background: rgba(48, 48, 48, 0.6);
  color: #fff6f3;
  padding: 1rem 0;
  top: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}
@media (max-width: 1200px) {
  .footer__location--msg {
    text-align: left;
  }
}
@media (max-width: 500px) {
  .footer__location--msg {
    text-align: center;
  }
}
.footer__msg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
@media (max-width: 1200px) {
  .footer__msg {
    flex: 1 0 100%;
    order: 1;
  }
}
.footer__msg div:first-of-type {
  margin-bottom: 2rem;
  text-align: center;
}
.footer__msg p {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: #C80928;
}
.footer__socials a {
  padding: 0;
  height: 2.5rem;
  text-decoration: none;
}
.footer__socials a:not(:last-of-type) {
  margin-right: 0.5rem;
}
.footer__contact {
  flex: 1;
  min-width: 18rem;
  font-family: "Source Sans Pro", sans-serif;
}
.footer__contact div {
  color: #C80928;
  padding: 1.5rem 0;
}
.footer__contact--item {
  font-size: 1.6rem;
  font-weight: 500;
  color: #f2f2f2;
  padding: 0.3rem 0.6rem;
}
.footer__contact--item span {
  color: #C80928;
  margin-right: 1rem;
  font-weight: 700;
}
.footer__contact--item a {
  color: #fff6f3;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .footer__contact {
    order: 2;
    flex: 0 0 50%;
    text-align: right;
  }
}
@media (max-width: 500px) {
  .footer__contact {
    flex: 1 0 100%;
    text-align: center;
    align-self: center;
  }
}

.content {
  min-height: 80vh;
  width: 95%;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  background: #f2f2f2;
  gap: 0;
}

.history {
  width: 100%;
  background: #f2f2f2;
  padding: 50rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.history h1 {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 5.5rem;
}
.history::before {
  content: "";
  height: 35rem;
  width: 100%;
  background: #C80928;
  position: absolute;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
}
.history__image > img {
  width: 100%;
  max-width: 24rem;
  min-width: 19rem;
  height: 100%;
  max-height: 38rem;
  min-height: 32rem;
}
@media (max-width: 40em) {
  .history__image {
    margin-bottom: 4rem;
  }
}
.history__content {
  display: flex;
  flex-direction: column;
  background: white;
  width: 80ch;
}
.history__content p {
  color: #303030;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 0 1.2rem;
  text-align: center;
}
.history__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
