.u-opacity-1{
    opacity: 1 !important;
    visibility: visible !important;
}

.u-font-white{
    color: $color-white !important;
}
.u-font-primary{
    color: $color-primary;
}
.u-margin-right-small{
    margin-right: 1.5rem;
}

.u-margin-top-large{
    margin-top: 8rem;
}

.u-padding-bottom-large{
    padding-bottom: 6rem;
}

.u-phone-only{
    display: none !important;

    @include mq(phone, $custom: false){
        display: flex !important;
    }
}