.u-opacity-1{
    opacity: 1 !important;
    visibility: visible !important;
}

.u-font-white{
    color: $color-white !important;
}
.u-font-family-heading{
    font-family: $font-heading;
}
.u-font-family-text{
    font-family: $font-text;
}
.u-font-primary{
    color: $color-primary;
}
.u-font-uppercase{
    text-transform: uppercase;
}
.u-font-center{
    text-align: center;
}
.u-margin-right-small{
    margin-right: 1.5rem;
}

.u-margin-top-large{
    margin-top: 8rem;
}

.u-padding-bottom-large{
    padding-bottom: 6rem;
}

.u-width-45ch{
    max-width: 45ch;
}

.u-phone-only{
    display: none !important;

    @include mq(phone, $custom: false){
        display: flex !important;
    }
}