$color-primary: #C80928;
// $color-primary: #e72424;
// E42C2C
$color-secondary: #56423e;
$color-tertiary: #00cedf;
$color-white: #fff6f3;
$color-grey-light: #f2f2f2;
$color-grey-dark: #303030;

$font-heading: "Source Sans Pro", sans-serif;
$font-text:"Poppins", sans-serif;