.btn{
    &__main{
        display: flex;
        padding: 1rem 2rem;
        border-radius: 3px;
        color: $color-white;
        background: $color-tertiary;
        cursor: pointer;
        transition: all .3s ease-in;
        border: 2px solid transparent;

        &:hover{
            background: mix($color-white, $color-tertiary, 75%);
            color: $color-tertiary;
            border: 2px solid $color-tertiary;

            & svg {
                fill: $color-tertiary;
                transition: fill 1s ease-out;
            }

        }

        &--icon{
            & > p {
                padding-top: 0.5rem;
                font-size: 1.4rem;
                font-weight: 600;
                font-family: $font-heading;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

        }
        
    }
    &__arrow{

        &--down{
            // margin-top: 15rem;
            // background: rgba($color-white, .4);
            position: absolute;
            bottom: 3.5rem;
            width: 100%;
            z-index:1200;
            display: flex;
            justify-content: center;
        }
    }
}
