.drop-down{
    position: relative;
    cursor: default;
    font-family: $font-text;
    &__sub-menu {
        position: absolute;
        // background: teal;
        left: -10%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;

        @include mq(phone, $custom: false){
            visibility: visible;
            opacity: 1;
            // left: 0;
            width: 120%;
            text-align: center;
            padding-bottom: 5rem;
        }
        
        &--item{
            font-size: 1.4rem;
            color: $color-white;
            padding: .25rem .75rem;
            font-weight: 500;
            text-transform: uppercase;
            display: inline-block;
            @include mq(phone, $custom: false){
                color: $color-white;
            }
        }
        
        & a {
            // background: red;
            // width: 100%;
        }

        & > a:first-of-type{
            margin-top: .85rem;
        }
    }

}

.drop-down:hover > ul {
    visibility: visible;
    opacity: 1;
    z-index: 1200;
    background: $color-grey-dark;
}