nav{
    position: relative;

    @include mq(phone, $custom:false){
        position: absolute;
        height: 3rem;
        width: 3rem;
        top: 4.5rem;
        right: .5rem;
        overflow-x: hidden;
    }
}

.nav-list{
    background: $color-grey-light;
    border-bottom: 3px solid $color-primary;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @include mq(medium, $custom: false){
        justify-content: space-around;
    }
    @include mq(phone, $custom: false){
        position: absolute;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        margin-top: -6rem;
        height: 3rem;
        width: 3rem;
        border-bottom: none;
        transition: all .8s;
    }

    &__item{
        font-family: $font-heading;
        color: $color-secondary;
        font-size: 1.6rem;
        letter-spacing: .5px;
        font-weight: 600;
        margin-right:3rem;
        text-transform: uppercase;
        padding-bottom: .5rem;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 120%;
            height: 3px;
            background: $color-tertiary;
            z-index: 100;
            left: -10%;
            bottom:-3px;
        }

        @include mq(phone, $custom: false){
            margin-right: 0;
            color: $color-primary;
            font-size: 2rem;
        }
    }

    & a{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }
}

.btn__toggle--nav{
    visibility: hidden;

    @include mq(phone, $custom: false){
        visibility: visible;
        width: 3rem;
        height: 3rem;
        border: 2px solid $color-grey-dark;
        border-radius: 3px;
        position: fixed;
        top: 4.5rem;
        right: .5rem;
        z-index: 2000;
        background: $color-white;
        transition: top .5s ease-out;
    }
}

.hamburger{
    @include mq(phone, $custom: false){
        width: 90%;
        height: 3px;
        background: $color-grey-dark;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        transition: all .2s ease-in;
        &::before{
            content: "";
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background: $color-grey-dark;
            bottom: 6px;
            transform: rotate(0);
            transition: all .5s;
        }
        &::after{
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background: $color-grey-dark;
            bottom: -6px;
            transform: rotate(0);
            transition: all 1s;
            opacity: 1;
        }
        
    }
}

.rotate{
    background: transparent;
    color: $color-white;

        &::before{
            content: "";
            bottom: 0;
            transform: rotate(-135deg);
            background: $color-primary;
        }
        &::after{
            content:"";
            bottom: 0;
            transform: rotate(135deg);
            opacity: 1;
            background: $color-primary;
        }
} 


.show{
    visibility: visible;
    position: fixed;
    top: 0;
    z-index: 1500;
    & > ul {
        border-radius: 50%;
        width: 200vw;
        height: 133vh;
        visibility: visible;
        background: transparent;
        justify-content: center;
        gap: 10rem 0;
        position: fixed;
        right: -50%;
        top: -15vh;
        transition: height 1.2s ease, width 1.2s ease;

        @include mq(phone, $custom: false){
            background: $color-grey-dark;
        }
    }
}


// background:linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);